@font-face{
	font-family: "Seagram";
	src: url('../fonts/Seagram.ttf');
	}
a {
	color: #d500ff;
	text-decoration: none;
	font-weight: 600;
}
a:hover{
	color: #ffea00;
	text-decoration: underline;
}
a:active{
	color: purple;
	text-decoration: underline;
}
body{
	color: white;
}
body{
	background-image: url("../images/images/sky.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height:100%;
/*	min-width: 960px;*/
	}
.top_bar{
	width: 100%;
	height: 65px;
	background: #000000c2;
	border-bottom: 3px solid purple;
	margin: 0 0 10px 0;
	position: fixed;
	padding: 0px 40px;
	z-index: 10;
}
.logo{
	font-family: "Seagram", sans-serif;
	text-shadow: #000 1.5px 2.5px 3px;
	padding-top: 7px;
	padding-left: 10px; 
}
h1 a{
	color: white;
	text-decoration: none;
}
h1 a:hover{
	color: #d500ff;
	text-decoration: none;
}
h1 a:active{
	color: purple;
	text-decoration: none;
}
nav{
	float: right;
	position: absolute;
	right: 3px;
	margin-right: 40px;
	top: 17px;
}
nav a{
	color: white;
/*	text-decoration: none;*/
	font-size: 18px;
	font-weight: 600;
}
nav a:hover{
	color: #d500ff;
	text-decoration: none;
	font-weight: 600;
}

nav a:active{
	color: purple;
	text-decoration: none;
	font-weight: 600;
}
#profile_pic{
	border-radius: 50%;
	width: 100%;
	border: 7px solid purple;
}

.wrapper{
	margin: 0 auto;
	top: 75px;
	padding: 0 10px;
	position: relative;
	width: 95%;
}
.column{
	background: #000000c2;
    padding: 20px;
    border: 1px purple solid;
	box-shadow: #000 1.5px 2.5px 3px;
	z-index: -1;
}
.user_details {
	width: 20%;
	float: right;
	margin-bottom: 20px;
}
#name{
    font-size: 18px;
    font-weight: 500;

}
.user_details_left_right{
	padding-top: 10px;
}
.main_column{
	width: 78%;
	margin-bottom: 30px;
}
.profile{
	float: right;
}
.profile_info{
	margin-top: 15px;
}
.profile_info p {
	word-wrap: break-word;
	margin: 5px 0px;
}

input{
	padding: 5px 10px;
	margin-bottom: 3px;
	background-color: black;
	color: white;
    border: 1px solid purple;
	outline-color: #d500ff;
	font-size: 14px;
}
input:hover{
	border: 1px #d500ff solid;
}
input[type="submit"] {
	padding: 5px 10px;
	margin-top: 10px;
	display: block;
	border: 1px solid #d500ff;
	font-weight: 500;
	color: #d500ff;
}
input[type="button"] {
	padding: 5px 10px;
	border: 1px solid #d500ff;
	font-weight: 500;
	color: white;
}
input[type="submit"]:hover {
	background-color: #d500ff;
	border: 1px white solid;
	color: white;
}
input[type=button]:hover {
	background-color: #d500ff;
	border: 1px white solid;
	color: white;
}
input[type="submit"]:active {
	background-color: purple;
	color: black;
	outline-color: #d500ff;
}
input[type=button]:active{
	background-color: purple;
	color: black;
	outline-color: #d500ff;
}
textarea {
    background-color: black;
    color: white;
	border-color: #d500ff;
    outline-color: #d500ff;
    width: 85%;
    height: 100px;
    padding: 5px 10px;

}


form .post_form{

}
hr{
	border-top: 1px solid purple;
}
.post_profile_pic{
	float: left;
    padding-right: 20px;
}
.post_profile_img{
	width: 75px;
	border-radius: 50%;
	border: 2px solid purple;
}
.comment_profile_img{
	width: 55px;	
	border-radius: 50%;
	border: 2px solid purple;
	float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 4px;
}
.comment_btn{
	margin-top: 15px;
    display: block;
    color: #d500ff;
    border-color: #d500ff;
    font-weight: 500;
    outline-color: pink;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 14px;
}
.comment_btn:hover{
	background-color: #d500ff;
    border: 1px white solid;
    font-weight: 500;
    color: white;
}
.comment_btn:active{
	background-color: purple;
    border-color: black;
    font-weight: 500;
    color: black;
}
.posted_by{

}
.post_time{
	font-style: oblique;
	font-weight: 100;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: purple; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d51279; 
}

#loading{
	width: 30px;
	align-self: center;
    vertical-align: middle;
    border-style: none;
}
.newsfeedPostOptions{
	color: #d500ff;
	padding-left: 10px;

}
.post_comment{
	padding: 10px;
}
.no_comments{
	padding:10px 10px 0px 10px;
	color: #8c8c8c;
}
.comments_area{
	padding: 10px;
}
.comment_section{
	font-weight: 100;
    font-size: 15px;
    background: #5f005f80;
    border-radius: 36px;
    padding: 5px;
}
.profile_left{
	float: left;
	min-width: 165px;
}
/*Friend request buttons*/
/*Delete friend*/
#danger{
    color: #ff002b;
    border-color: #ff002b;
    font-weight: 500;
    outline-color: #d500ff;
}
#danger:hover {
	background-color: #ff002b;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
#danger:active {
	background-color: #a70000;
	border-color: black;
    font-weight: 500;
    color: black;
}
/*Respond to Request*/
#warning{
    color: #d51279;
    border-color: #d51279;
    font-weight: 500;
    outline-color: pink;
}
#warning:hover {
	background-color: #d51279;
	border: 1px black solid;
	font-weight: 500;
	color: white;
}
#warning:active {
	background-color: purple;
	border-color: black;
    font-weight: 500;
    color: black;
}
/*Request Sent*/
#default{
    color: grey;
    border-color: grey;
    font-weight: 500;
    outline-color: purple;
    cursor: not-allowed;
}
#default:hover {
	background-color: grey;
	border: 1px black solid;
	font-weight: 500;
	color: black;
}
#default:active {
	background-color: grey;
    font-weight: 500;
    color: white;
}
/*Add to friends*/
.profile-name{
	padding-bottom: 14px;
    font-family: "Seagram", sans-serif;
    color: #d500ff;
}
#success{
    color: #d500ff;
    border-color: #d500ff;
    font-weight: 500;
    outline-color: pink;
}
#success:hover {
	background-color: #d500ff;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
#success:active {
	background-color: purple;
	border-color: black;
    font-weight: 500;
    color: black;
}
.friend_requests{
	display: flex;

}
#accept{
    color: #d500ff;
    background-color: black;
    border-color: #d500ff;
    font-weight: 500;
    outline-color: pink;
    margin-right: 15px;
    border-radius: 0px;
    font-size: 14px;
}
#accept:hover {
	background-color: #d500ff;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
#accept:active {
	background-color: purple;
	border-color: black;
    font-weight: 500;
    color: black;
    outline-color: pink;
}
#ignore{
	/*dark red*/
    color: #e80000; 
    border-color: #e80000;
    font-weight: 500;
    outline-color: #d500ff;
    border-radius: 0px;
    font-size: 14px;
}
#ignore:hover {
	background-color: #e80000;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
#ignore:active {
	background-color: #a70000;
	border-color: black;
    font-weight: 500;
    color: black;
    outline-color: #d500ff;
}
#post_button{
    color: #d500ff;
    border-color: #d500ff;
    font-weight: 500;
    outline-color: pink;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0px;
	font-size: 14px;
	}
#post_button:hover {
	background-color: #d500ff;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
#post_button:active {
	background-color: purple;
	border-color: black;
    font-weight: 500;
    color: black;
}
.modal-content{
	background-color: black;
	border: 1px solid purple;
    border-radius: 0px;
}
.modal-header{
	border-bottom: 1px solid purple;
	
}
.close{
	color: white;
}
.close:hover {
    color: #e80000;}

.form-control{
	background-color: black;
	color:white;
    border-color: #d500ff;
    outline-color: #ffea00;
    border-radius: 0px;
}
.form-control:focus {
    color: white;
    background-color: #000;
    border-color: #d500ff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ffc0cb52;
    /*border-radius: 0px;*/
}
.modal-footer{
	border-top: 1px solid purple;
}
#submit_profile_post{
    color: #d500ff;
    background-color: black;
    border-color: #d500ff;
    font-weight: 500;
    outline-color: pink;
    margin-right: 15px;
    border-radius: 0px;
    font-size: 14px;
}
#submit_profile_post:hover {
	background-color: #d500ff;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
#submit_profile_post:active {
	background-color: purple;
	border-color: black;
    font-weight: 500;
    color: black;
    outline-color: pink;
}
.delete_button:not([href]){
	color: #a70000;
    font-weight: 500;
    outline-color: red;
    float: right;
    z-index: 8;

}
.delete_button:not([href]):hover {
	color: red;
}
.delete_button:not([href]):active {
	color: #a70000;
    font-weight: 500;
}
.btn-primary:focus{
	background-color: #d500ff;
	border: 1px white solid;
	font-weight: 500;
	color: white;
	box-shadow: 0 0 0 0.2rem #d500ff6e;
	}
.btn-primary{
    color: #d500ff;
    background-color: black;
    border-color: #d500ff;
    font-weight: 500;
    outline-color: pink;
    margin-right: 15px;
    border-radius: 0px;
    font-size: 14px;
}
.btn-primary:hover {
	background-color: #d500ff;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: purple;
	border-color: black;
    font-weight: 500;
    color: black;
    outline-color: pink;
}
.btn-default{
	/*dark red*/
    color: #e80000; 
    border-color: #e80000;
    background-color: black;
    font-weight: 500;
    outline-color: #d500ff;
    border-radius: 0px;
    font-size: 14px;
}
.btn-default:hover {
	background-color: #e80000;
	border: 1px white solid;
	font-weight: 500;
	color: white;
}
.btn-default:not(:disabled):not(.disabled):active {
	background-color: #a70000;
	border-color: black;
    font-weight: 500;
    color: black;
    outline-color: #d500ff;
}
.active_tab{
	background-color: #8a01a5b0;
}
.active_tab a{
	color: white;
}

/*upload image*/
/*#CroppingContainer{
	width:800px; 
	max-height:600px; 
	position:relative; 
	overflow:hidden; 
	border:2px #666 solid; 
	z-index:2001; 
	padding-bottom:0px;
}
#CroppingArea{
	width:500px; 
	max-height:400px; 
	position:relative; 
	overflow:hidden; 
	margin:40px 0px 40px 40px; 
	border:2px #666 solid; 
	float:left;
}
#jcrop_target{
	border:0px #990000 solid; 
	position:relative; 
	margin:0px 0px 0px 0px; 
	padding:0px; 
}
#InfoArea{
	width:180px; 
	height:auto; 
	position:relative; 
	overflow:hidden; 
	margin:40px 0px 0px 40px; 
	border:0px #666 solid; 
	float:left;
}
#InfoArea p{
	margin:0px; 
	padding:0px;  
	font-size:18px;
}
#CropImageForm{
	width:100px; 
	height:30px; 
	float:left; 
	margin:10px 0px 0px 40px;
}
#CropImageForm2{
	width:100px; 
	height:30px; 
	float:left; 
	margin:10px 0px 0px 40px;
}
*/
#image:hover{
	border: 1px purple solid;
}
/*input[type="file"] {
	padding: 5px 10px;
	margin-top: 10px;
	display: block;
}
input[type="file"]:hover {
	background-color: purple;
	border: 1px black solid;
	color: white;
}
input[type="file"]:active {
	background-color: #d51279;
	color: black;
}*/

/* Messages.php */
#sent_message{
	border: 1px solid purple;
	color: white;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
    float: left;
}
#received_message{
	/*light purple*/
	background-color: purple ;
	color: white;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	margin-right: 15px;
    float: right;
}
/*.noMorePosts p {
	margin: 0px;
}*/
.loaded_messages{
	height: 40%;
    overflow: auto;
    min-height: 300px;
    max-height: 400px;

}
.message_details, .user_details_message{
	width: 27%;
	margin-bottom: 20px;
}
.message_column {
    width: 70%;
    margin-bottom: 30px;
        min-height: 250px;
}
#message_profile_pic{
	float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 45%;
    border: 6px purple solid;
}
.found_message p{
	margin-bottom: 5px;
}
.loaded-conversations{
    max-height: 400px;
    overflow: auto;
    padding-bottom: 10px;
}
.user_found_messages{
	padding: 5px 0px;
	border-bottom: 1px purple solid;
    margin-bottom: 4px;
}
.user_found_messages:hover{
	text-decoration: none;
}
.user_image{
	float: left;
}
.timestamp_smaller{
	font-style: italic;
}
#grey{
	font-weight: 400;
}
/*Friend search*/
.resultDisplay{
	height: 130px;
    border-bottom: 1px solid purple;
}
.liveSearchProfilePic{
	padding: 15px;
}
.friend_search_profile_pic{
	float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 100px;
    border: 4px purple solid;
}
h4{
	padding-bottom: 5px;
}  
.nav-tabs {
    border-bottom: none;
}
.nav-tabs li{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    margin: -1px 10px;
    border: 1px solid purple;
    padding: 5px 10px;
    border-bottom: none;
}
/*.nav-tabs li.active {
	background-color: #d500ff;
}
*/
.nav-tabs li a:hover{
	color: white;
}
.nav-tabs li a:active{
	color: black;
}
.nav-tabs li:hover{
	background-color: #8a01a5b0;
}
.nav-tabs li:active {
	background-color: purple;
}
.post_area{
	padding: 0px 15px;
}
.tab-content{
	border: 1px solid purple;
}
.tab-pane{
	padding: 15px;
}
.no_posts_p{
	text-align: center;
    color: white;
	margin-bottom: 5px;
}
.notification_badge{
	/*font-size: 10px; */
    padding: 4px;
    /* font-weight: 600; */
    /* white-space: nowrap; */
    /* line-height: 1; */
    /* vertical-align: baseline; */
    /* color: white; */
    background-color: #ff00aa;
    border-radius: 10px;
    position: absolute;
    top: 3px;
/*    left: 175px;*/
     right: 66px;
}
#unread_notification{
	right: 49px;
    top: 6px;
}
#unread_request {
    right: 92px;
    top: 15px;
}

/*Dropdown styling header*/
.dropdown_data_window{
    background: #000000d4;
    float: right;
    /*border: 2px solid purple; */
    overflow: auto;
}
.dropdown_data_window p{
    padding-top: 10px;
    text-align: center;
}
.notification{
	padding: 10px 15px;
    border-bottom: 1px solid purple; 
    width: 300px;

}
.notificationsProfilePic {
	width: 55px;
    float: left;
    border-radius: 50%;
    border: 2px solid purple;
    margin-right: 15px;
}

/*SEARCH BAR*/
.search{
	position: absolute;
    /* width: 200px; */
    /* height: 45px; */
    left: 430px;
    top: 13px;
}
.button_holder{
	cursor: pointer;
    border: 1px solid purple;
    padding: 6px 10px;
    display: inline;
}
.button_holder:hover{
 	color: #d500ff;
 	border-color: #d500ff;
}
.button_holder:active{
 	background-color: purple;
 	color: white;
 	border-color: white;
}

.lifeSearchProfilePic {
    width: 55px;
    float: left;
    border-radius: 50%;
    border: 2px solid purple;
    margin-right: 15px;
}
.search_results{
	background: #000000d4;
    overflow: auto;
    width: 350px;
    max-height: 450px;
}
.search_results_footer{
	background: #000000d4;
	padding: 10px;
}
.liveSearchResult{
	border-bottom: 1px solid purple;
    padding: 10px 15px;
}

/* search.php*/
.search_result {
	padding: 10px 15px;
    min-height: 170px;
}
.result_profile_pic{
	height: 150px;
    border-radius: 50%;
    float: left;
    border: 5px solid purple;
    margin-right: 15px;
}
/*SETTINGS */
label {
    display: block;
    margin-top: .8em;
    margin-bottom: .5rem;
}
.error{
	display: block;
	margin-top: 7px;
    margin-bottom: 10px;
    color: #ff002b;
}
.success{
	display: block;
	margin-top: 7px;
    color: #2bff00;
}
#small_profile_pic{
	border: 1px solid purple;
    margin-bottom: 15px;
}
input[type='submit'].save_details{
	color: #ffaa00;
    border-color: #ffaa00;
    font-weight: 500;
    outline-color: #d500ff;
}

input[type='submit'].save_details:hover {
    background-color: #ffaa00;
    border: 1px white solid;
    color: white;
}

input[type='submit'].save_details:active {
    background-color: #ff6a00;
    color: black;
    outline-color: black;
}

#close_account{
	display: inline-block;
	color: #ff002b;
    border-color: #ff002b;
    font-weight: 500;
    outline-color: #d500ff;
}

#close_account:hover {
    background-color: #ff002b;
    border: 1px white solid;
    color: white;
}

#close_account:active {
    background-color: #a70000;
    border-color: black;
    color: black;
}

#dont_close{
	display: inline-block;
	color: #d500ff;
    border-color: #d500ff;
    font-weight: 500;
    outline-color: #d500ff;
}

#dont_close:hover {
    background-color: #d500ff;
    border: 1px white solid;
    color: white;
}

#dont_close:active {
    background-color: purple;
    color: black;
    outline-color: #d500ff;
}
