/* ================================= 
  Base Element Styles
==================================== */
body
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: white;

    background-color: black;
    background-image: url('../images/images/sky.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    font-weight: 600;

    text-decoration: none;

    color: #d500ff;
}
a:hover, 
a:active {
    text-decoration: underline;	
}
a:hover
{
    color: white;
}
a:active
{
    color: purple;
}
input
{
    font-size: 14px;

    margin-bottom: 3px;
    padding: 5px 10px;

    color: white;
    border: 1px solid purple;
    outline-color: #d500ff;
    background-color: black;
}
input:hover
{
    border-color: #d500ff;
}
input[type='submit'],
input[type='button']{
	font-weight: 500;

    padding: 5px 10px;

    border: 1px solid #d500ff;
}
input[type='submit']
{
    display: block;

    margin: 15px 15px 20px 0px;

    color: #d500ff;
}
input[type='button']
{
    color: white;
}
input[type='submit']:hover,
input[type=button]:hover{
	color: white;
    border-color: white;
    background-color: #d500ff;
}

input[type='submit']:active,
input[type=button]:active
{
    color: black;
    outline-color: #d500ff;
    background-color: purple;
}

textarea
{
    width: 85%;
    height: 100px;
    padding: 5px 10px;

    color: white;
    border-color: #d500ff;
    outline-color: #d500ff;
    background-color: black;
}

hr
{
    border-top: 1px solid purple;
}
/* ---- Scroll Bar ---- */
::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: purple;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: #d51279;
}

/* ================================= 
  Base Layout Styles
==================================== */
@font-face {
    font-family: 'Seagram';
    src: url('../fonts/Seagram.ttf');
}
/* ---- HEADER ---- */
.top_bar
{
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 65px;

    border-bottom: 3px solid purple;
    background-color: rgba(0, 0, 0, .9);
}
.header-wrapper{
	width: 93%;
	max-width: 1445px;
	margin: 0 auto;
}
.logo
{
    font-family: 'Seagram', sans-serif;

    padding-top: 7px;
	margin-right: 1em;

    float: left;

    text-shadow: #000 1.5px 2.5px 3px;
}
h1 a
{
    color: white;

}
h1 a:hover
{
    color: #d500ff;
    text-decoration: none;
}
h1 a:active
{
    color: purple;
    text-decoration: none;
}
/* ---- Search Bar ---- */

.vm_search{
	display: inline-block;

	position: relative;
	top: 13px;

    margin: 0 auto;
}
.button_holder
{
    display: inline;

    padding: 6px 10px;

    cursor: pointer;

    border: 1px solid purple;
}
.button_holder:hover
{
    color: #d500ff;
    border-color: #d500ff;
}
.button_holder:active
{
    color: white;
    border-color: white;
    background-color: purple;
}

/* ---- Navigation ---- */

nav
{
    position: relative;
    top: 17px;

    float: right;

    font-size: 18px;
    font-weight: 600;
}
nav a
{
    color: white;
}
nav a:hover
{
    text-decoration: none;

    color: #d500ff;
}

nav a:active
{
    text-decoration: none;

    color: purple;
}
.external_link{
    color: #007bff;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* ================================= 
  Notifications and Dropdowns
==================================== */

/* ---- Notifications ---- */
.notification_badge
{
    position: absolute;
    top: 3px;

    right: 66px;


    padding: 4px;

    border-radius: 10px;

    background-color: #f0a;
}
#unread_notification
{
    top: 6px;
    right: 49px;
}
#unread_request
{
    top: 15px;
    right: 92px;
}

/* ---- Dropdown ---- */
.dropdown_data_window
{
    float: right;

    overflow: auto;

    background: rgba(0, 0, 0, .9);
}
.dropdown_data_window p
{
    padding-top: 10px;

    text-align: center;
}
.notification
{
    width: 300px;
    padding: 10px 15px;

    border-bottom: 1px solid purple;
}
.notificationsProfilePic
{
    float: left;

    width: 55px;
    margin-right: 15px;

    border: 2px solid purple;
    border-radius: 50%;
}

/* ---- Search Results ---- */
.search_results
{
    overflow: auto;

    max-height: 400px;

}
.search_results,
.search_results_footer{
    width: 320px;

    background: rgba(0, 0, 0, .9);
}
.search_results_footer
{
    padding: 10px;
}
.liveSearchResult
{
    padding: 10px 15px;

    border-bottom: 1px solid purple;
}

.lifeSearchProfilePic
{
    float: left;

    width: 55px;
    margin-right: 15px;

    border: 2px solid purple;
    border-radius: 50%;
}

/* ================================= 
  Base Layout Styles
==================================== */

.wrapper
{
    position: relative;
    top: 75px;
    height: 100vh;
    width: 93%;
    max-width: 1445px;
    margin: 0 auto;
}
.column
{
    z-index: -1;

    padding: 20px;

    border: 1px purple solid;
    background: rgba(0, 0, 0, .8);
    box-shadow: #000 1.5px 2.5px 3px;
}
.user_details
{
    float: right;

    width: 20%;
    margin-bottom: 20px;
}
.user_details_left_right
{
    padding-top: 10px;
}
.main_column
{
    width: 78%;
    margin-bottom: 30px;
}
.profile
{
    float: right;
}
.profile_info
{
    margin-top: 15px;
}
.profile_info p
{
    margin: 5px 0;

    word-wrap: break-word;
}

#profile_pic
{
    width: 100%;

    border: 7px solid purple;
    border-radius: 50%;
}

#name
{
    font-size: 18px;
    font-weight: 500;
}
#loading
{
    width: 30px;

    vertical-align: middle;

    border-style: none;

    align-self: center;
}
.hide{
    display: none;
}
.inline{
    display: inline-block;
}
/* ---- Posts ---- */
.post_profile_pic
{
    float: left;

    padding-right: 20px;
}

.post_profile_img,
.comment_profile_img{
    border: 2px solid purple;
    border-radius: 50%;	
}

.post_profile_img
{
    width: 75px;
}

.post_main
{
    display: flow-root;
}

.post_time
{
    font-weight: 100;
    font-style: oblique;
    color: #9e9e9e;
}

/* ---- Comments ---- */
.comment_profile_img
{
    float: left;

    width: 55px;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 15px;
}
.comment_btn
{
    font-size: 14px;
    font-weight: 500;

    display: block;

    margin-top: 15px;
    padding: 5px 10px;

    color: #d500ff;
    border: 1px #d500ff solid;
    border-radius: 0;
    outline-color: pink;
    background-color: black;
}
.comment_btn:hover
{
    color: white;
    border-color: white;
    background-color: #d500ff;
}
.comment_btn:active
{
    color: black;
    border-color: black;
    background-color: purple;
}

.num_comments
{
    font-weight: 600;

    text-decoration: none;

    color: #d500ff;
}
.num_comments:hover
{
    color: #ffea00;
}
.num_comments:active
{
    color: purple;
}

.newsfeedPostOptions
{
    padding-left: 10px;

    color: #d500ff;
}
.post_comment
{
    padding: 10px;
}
.no_comments
{
    padding: 10px 10px 0 10px;

    color: #8c8c8c;
}
.comments_area
{
    padding: 10px;
}
.comment_section
{
    font-size: 15px;
    font-weight: 100;

    padding: 5px;

    border-radius: 36px;
    /*dar purple*/
    /*background: rgba(95, 0, 95, 0.5);*/
    /*dark blue*/
    background-color: rgba(85, 0, 255, 0.17);
}
.profile_left
{
    float: left;

    min-width: 165px;
}

/* ================================= 
  Friend Request Buttons
==================================== */

/* ---- Delete friend ---- */
#danger
{
    font-weight: 500;

    color: #ff002b;
    border: 1px #ff002b solid;
    outline-color: #d500ff;
}
#danger:hover
{
    color: white;
    border-color: white;
    background-color: #ff002b;
}
#danger:active
{
    color: black;
    border-color: black;
    background-color: #a70000;
}
input[type='submit'].danger
{
    font-weight: 500;

    color: #ff002b;
    border-color: #ff002b;
    outline-color: #d500ff;
}
input[type='submit'].danger:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #ff002b;
}
input[type='submit'].danger:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    background-color: #a70000;
}
/* ---- Respond to Request ---- */
#warning
{
    font-weight: 500;

    color: #d51279;
    border-color: #d51279;
    outline-color: pink;
}
#warning:hover
{
    font-weight: 500;

    color: white;
    border: 1px black solid;
    background-color: #d51279;
}
#warning:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    background-color: purple;
}
input[type='submit'].warning
{
    font-weight: 500;

    color: #fa0;
    border-color: #fa0;
    outline-color: #c45100;
}
input[type='submit'].warning:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #fa0;
}
input[type='submit'].warning:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    background-color: #c45100;
}
input[type='submit'].success
{
    font-weight: 500;

    color: #2bff00;
    border-color: #2bff00;
    outline-color: #d500ff;
}
input[type='submit'].success:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #2bff00;
}
input[type='submit'].success:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    background-color: purple;
}
.purple
{
    font-size: 18px;
    font-weight: 400;

    color: #d500ff;
}
/* ---- Request Sent ---- */
#default
{
    font-weight: 500;

    cursor: not-allowed;

    color: grey;
    border-color: grey;
    outline-color: purple;
}
#default:hover
{
    font-weight: 500;

    color: black;
    border: 1px black solid;
    background-color: grey;
}
#default:active
{
    font-weight: 500;

    color: white;
    background-color: grey;
}
/* ---- Add to friends ---- */
.profile-name
{
    font-family: 'Seagram', sans-serif;

    padding-bottom: 14px;

    color: #d500ff;
}
#success
{
    font-weight: 500;

    color: #d500ff;
    border: 1px #d500ff solid;
    outline-color: pink;
}
#success:hover
{
    color: white;
    border-color: white;
    background-color: #d500ff;
}
#success:active
{
    color: black;
    border-color: black;
    background-color: purple;
}
.friend_requests
{
    display: flex;
}
#accept
{
    font-size: 14px;
    font-weight: 500;

    margin-right: 15px;

    color: #d500ff;
    border-color: #d500ff;
    border-radius: 0;
    outline-color: pink;
    background-color: black;
}
#accept:hover
{
    color: white;
    border: 1px white solid;
    background-color: #d500ff;
}
#accept:active
{
    color: black;
    border-color: black;
    outline-color: pink;
    background-color: purple;
}
#ignore
{
    font-size: 14px;
    font-weight: 500;

    color: #e80000;
    border-color: #e80000;
    border-radius: 0;
    outline-color: #d500ff;
}
#ignore:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #e80000;
}
#ignore:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    outline-color: #d500ff;
    background-color: #a70000;
}
#post_button
{
    font-size: 14px;
    font-weight: 500;

    padding: 5px 10px;

    color: #d500ff;
    border-color: #d500ff;
    border-radius: 0;
    outline-color: pink;
    background-color: black;
}
#post_button:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #d500ff;
}
#post_button:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    background-color: purple;
}
.modal-content
{
    border: 1px solid purple;
    border-radius: 0;
    background-color: black;
}
.modal-header
{
    border-bottom: 1px solid purple;
}
.close
{
    color: white;
}
.close:hover
{
    color: #e80000;
}

.form-control
{
    color: white;
    border-color: #d500ff;
    border-radius: 0;
    outline-color: #ffea00;
    background-color: black;
}
.form-control:focus
{
    color: white;
    border-color: #d500ff;
    outline: 0;
    background-color: #000;
    box-shadow: 0 0 0 .2rem #ffc0cb52;
    /*border-radius: 0px;*/
}
.modal-footer
{
    border-top: 1px solid purple;
}
#submit_profile_post
{
    font-size: 14px;
    font-weight: 500;

    margin-right: 15px;

    color: #d500ff;
    border-color: #d500ff;
    border-radius: 0;
    outline-color: pink;
    background-color: black;
}
#submit_profile_post:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #d500ff;
}
#submit_profile_post:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    outline-color: pink;
    background-color: purple;
}
.delete_button:not([href])
{
    font-weight: 500;

    z-index: 8;

    float: right;

    margin-right: 2px;

    cursor: pointer;

    color: #a70000;
    outline-color: red;
}
.delete_button:not([href]):hover
{
    color: red;
}
.delete_button:not([href]):active
{
    font-weight: 500;

    color: #a70000;
}
.edit_button:not([href])
{
    font-weight: 500;

    z-index: 8;

    float: right;

    margin-right: 5px;

    cursor: pointer;

    color: #c45100;
    outline-color: red;
}
.edit_button:not([href]):hover
{
    color: #ff6a00;
}
.edit_button:not([href]):active
{
    font-weight: 500;

    color: #c45100;
}
/* ---- Youtube Embeds ---- */

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/*.embed-container
{
    position: relative;

    overflow: hidden;

    max-width: 100%;
    height: 0;
    margin: 10px 0;
    padding-bottom: 56.25%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}*/
/* ---- Emoji ---- */
.emojione
{
    font-size: inherit;
    line-height: normal;

    top: 0;

    display: inline-block;

    width: 2.1ex;
    min-width: 20px;
    max-width: 100%;
    height: 2ex;
    min-height: 20px;
    margin: -.2ex .15em .2ex;

    vertical-align: middle;

    background-image: none;
}
/* ---- Add file ---- */
#toggle_file_upload
{
    margin-top: 10px;
}
#fileToUpload
{
    margin-top: 10px;
}
.postedImages
{
    display: block;

    max-width: 100%;
    max-height: 400px;

    cursor: zoom-in;
}
.edit_button
{
    font-weight: 500;

    z-index: 8;

    float: right;

    margin-right: 5px;

    color: #c45100;
    outline-color: red;
}
.edit_button:hover
{
    color: #ff6a00;
}
.edit_button:active
{
    font-weight: 500;

    color: #c45100;
}
.btn-primary:focus
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #d500ff;
    box-shadow: 0 0 0 .2rem #d500ff6e;
}
.btn-primary
{
    font-size: 14px;
    font-weight: 500;

    margin-right: 15px;

    color: #d500ff;
    border-color: #d500ff;
    border-radius: 0;
    outline-color: pink;
    background-color: black;
}
.btn-primary:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #d500ff;
}
.btn-primary:not(:disabled):not(.disabled):active
{
    font-weight: 500;

    color: black;
    border-color: black;
    outline-color: pink;
    background-color: purple;
}
.btn-default
{
    font-size: 14px;
    font-weight: 500;
    /*dark red*/

    color: #e80000;
    border-color: #e80000;
    border-radius: 0;
    outline-color: #d500ff;
    background-color: black;
}
.btn-default:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #e80000;
}
.btn-default:not(:disabled):not(.disabled):active
{
    font-weight: 500;

    color: black;
    border-color: black;
    outline-color: #d500ff;
    background-color: #a70000;
}
.active_tab
{
    background-color: #8a01a5b0;
}
.active_tab a
{
    color: white;
}

/*upload image*/
/*#CroppingContainer{
	width:800px; 
	max-height:600px; 
	position:relative; 
	overflow:hidden; 
	border:2px #666 solid; 
	z-index:2001; 
	padding-bottom:0px;
}
#CroppingArea{
	width:500px; 
	max-height:400px; 
	position:relative; 
	overflow:hidden; 
	margin:40px 0px 40px 40px; 
	border:2px #666 solid; 
	float:left;
}
#jcrop_target{
	border:0px #990000 solid; 
	position:relative; 
	margin:0px 0px 0px 0px; 
	padding:0px; 
}
#InfoArea{
	width:180px; 
	height:auto; 
	position:relative; 
	overflow:hidden; 
	margin:40px 0px 0px 40px; 
	border:0px #666 solid; 
	float:left;
}
#InfoArea p{
	margin:0px; 
	padding:0px;  
	font-size:18px;
}
#CropImageForm{
	width:100px; 
	height:30px; 
	float:left; 
	margin:10px 0px 0px 40px;
}
#CropImageForm2{
	width:100px; 
	height:30px; 
	float:left; 
	margin:10px 0px 0px 40px;
}
*/
#image:hover
{
    border: 1px purple solid;
}
/*input[type="file"] {
	padding: 5px 10px;
	margin-top: 10px;
	display: block;
}
input[type="file"]:hover {
	background-color: purple;
	border: 1px black solid;
	color: white;
}
input[type="file"]:active {
	background-color: #d51279;
	color: black;
}*/

/* ================================= 
  Messages.php
==================================== */
aside{
    width: 27%;
    float: left;
    min-width: 165px;
}

.message_details
{
    width: 28%;
    margin-bottom: 20px;
}
.message_column
{
    width: 70%;
    min-height: 250px;
    margin-bottom: 30px;
}

.message{
	display: inline-block;

	padding: 10px;

    color: white;
    border-radius: 10px;
}
#sent_message,
.sent
{
    float: left;
    border: 1px solid purple;
}
#received_message,
.received
{
    float: right;

    margin-right: 15px;

    background-color: purple;
}
.delete_message{
    padding-left: 8px;
}

.loaded_messages
{
    overflow: auto;

    height: 40%;
    min-height: 300px;
    max-height: 400px;
}

#message_profile_pic
{
    float: left;

    width: 45%;
    margin-right: 15px;

    border: 6px purple solid;
    border-radius: 50%;
}
.found_message p
{
    margin-bottom: 5px;
}
.loaded-conversations
{
    overflow: auto;

    max-height: 400px;
    padding-bottom: 10px;
}
.user_found_messages
{
    margin-bottom: 4px;
    padding: 5px 0;

    border-bottom: 1px purple solid;
}
.user_found_messages:hover
{
    text-decoration: none;
}
.user_image
{
    float: left;
}
.timestamp_smaller
{
    font-style: italic;
}
#grey
{
    font-weight: 400;
}
/* ---- Friend Search ---- */
.resultDisplay
{
    height: 130px;

    border-bottom: 1px solid purple;
}
.liveSearchProfilePic
{
    padding: 15px;
}
.friend_search_profile_pic
{
    float: left;

    width: 100px;
    margin-right: 15px;

    border: 4px purple solid;
    border-radius: 50%;
}
/* ================================= 
    Profile page
==================================== */
h4
{
    padding-bottom: 5px;
}
.nav-tabs
{
    border-bottom: none;
}
.nav-tabs li
{
    margin: -1px 10px;
    padding: 5px 10px;

    border: 1px solid purple;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*.nav-tabs li.active {
	background-color: #d500ff;
}
*/
.nav-tabs li a:hover
{
    color: white;
}
.nav-tabs li a:active
{
    color: black;
}
.nav-tabs li:hover
{
    background-color: rgba(138, 1, 165, .7);
}
.nav-tabs li:active
{
    background-color: purple;
}
.post_area
{
    padding: 0 15px;
}
.tab-content
{
    border: 1px solid purple;
}
.tab-pane
{
    padding: 15px;
}
.no_posts_p
{
    margin-bottom: 5px;

    text-align: center;

    color: white;
}

/* ================================= 
  Search Page
==================================== */
.search_result
{
    min-height: 170px;
    padding: 10px 15px;
}
.result_profile_pic
{
    float: left;

    height: 150px;
    margin-right: 15px;

    border: 5px solid purple;
    border-radius: 50%;
}
/* ================================= 
  Settings Page
==================================== */

label
{
    display: block;

    margin-top: .8em;
    margin-bottom: .5rem;
}

.error
{
    display: block;

    margin-top: 7px;
    margin-bottom: 10px;

    color: #ff002b;
}

.success
{
    display: block;

    margin-top: 7px;

    color: #2bff00;
}

#small_profile_pic
{
    margin-bottom: 15px;

    border: 1px solid purple;
}

input[type='submit'].save_details
{
    font-weight: 500;

    color: #fa0;
    border-color: #fa0;
    outline-color: #d500ff;
}

input[type='submit'].save_details:hover
{
    color: white;
    border: 1px white solid;
    background-color: #fa0;
}

input[type='submit'].save_details:active
{
    color: black;
    outline-color: black;
    background-color: #ff6a00;
}

#close_account
{
    font-weight: 500;

    display: inline-block;

    color: #ff002b;
    border-color: #ff002b;
    outline-color: #d500ff;
}

#close_account:hover
{
    color: white;
    border: 1px white solid;
    background-color: #ff002b;
}

#close_account:active
{
    color: black;
    border-color: black;
    background-color: #a70000;
}

#dont_close
{
    font-weight: 500;

    display: inline-block;

    color: #d500ff;
    border-color: #d500ff;
    outline-color: #d500ff;
}

#dont_close:hover
{
    color: white;
    border: 1px white solid;
    background-color: #d500ff;
}

#dont_close:active
{
    color: black;
    outline-color: #d500ff;
    background-color: purple;
}

/* ---- Edit About Button ---- */
#edit_button
{
    font-weight: 500;

    float: none;

    padding: 5px 10px;

    color: #fa0;
    border: 1px solid #fa0;
    outline-color: #c45100;
    background-color: black;
}
#edit_button:hover
{
    font-weight: 500;

    color: white;
    border: 1px white solid;
    background-color: #fa0;
}
#edit_button:active
{
    font-weight: 500;

    color: black;
    border-color: black;
    background-color: #c45100;
}

/* ---- Like heart animation ---- */

.unliked .broken-heart,
.unliked .full
{
    display: none;
}
.liked .hollow,
.liked .broken-heart
{
    display: none;
}
#click_like
{
    display: none;
}
.mobile_profile_info{
    display: none;
}
/* ================================= 
    Edit Post Page
==================================== */
/*---- Close x Button ----*/
.close a {
    color: #ff002b;
    text-decoration: none;
}
.close a:active {
    color: purple;
}

/*LAPTOP ONLY */
@media (min-width: 769px){
    /*---- Like Post Button ----*/
	.unliked:hover .hollow,
	.unliked .broken-heart,
	.unliked .full
	{
	    display: none;
	}
	.unliked:hover .full
	{
	    display: inline;
	}
	.liked:hover .full,
	.liked .hollow,
	.liked .broken-heart
	{
	    display: none;
	}
	.liked:hover .broken-heart
	{
	    display: inline;
	}
	#click_like
	{
	    display: none;
	}
    /*---- Close x Button ----*/
    .close a {
        color: white;
    }

    .close a:hover {
        color: #ff002b;
        text-decoration: none;
    }
    .close a:active {
        color: purple;
    }
}
/*IPAD*/
@media only screen and (max-width: 768px)
{
	h1{
		font-size: 32px;
	}
    .logo {
	    padding-top: 11px;
	    margin-right: 2em;
	}
	#name {
		display: none;
	}
	nav a {
	    padding: 1px;
	}
	.main_column {
	    width: 75%;
	}
}
/*MOBILE*/
/*XS - 320*/
/*@media only screen and (max-width: 350px) {

}
*/
/*M - 375 L -425*/

@media only screen and (max-width: 500px)
{
    /* For mobile phones: */
    body
    {
        font-size: 14px;

        color: #e2e2e2;
    }
    h2
    {
        font-size: 1.5rem;
    }
    h4
    {
        font-size: 1.2rem;

        margin-top: 10px;
    }
    .wrapper
    {
        top: 90px;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .user_details,
	.user_details_message
    {
        display: none;
    }
    #mobile_profile_info
    {
        display: block;

        margin-bottom: 20px;
    }
    #mobile_profile_info_data
    {
        display: inline-block;
    }
    #profile_pic
    {
        float: right;

        width: 35%;
        margin-right: 20px;

        border: 4px solid purple;
    }
    .header-wrapper{
        text-align: center;
        width: 100%;
    }
    .top_bar
    {
        padding: 0;
        height: auto;
        background-color: rgba(0, 0, 0, .9);
    }
    .logo{
        float: none;
        margin-right: 0px;

    }
    .moj{
        display: none;
    }
    .vm_search{
        display: block;
        padding: 5px;
        top: 0px;
    }

    #search_text_input
    {
        height: 27px;
    }
    .button_holder
    {
        padding: 4px;
    }
/*    .dropdown_data_window {
        margin: 0 auto;
        width: 90%;
        float: none;
    }
    .notification {
        min-width: 100%;
        min-height: 81px;
    }*/

    input
    {
        padding: 5px;
    }
    nav
    {
        display: block;
        float: none;
        top: 0px;
        padding: 5px;
        background: rgba(128, 0, 128, 0.58);
    }
    nav a
    {
        padding: 1px;
        /*  padding: 5px;*/
    }
    nav a:active{
        color: #d500ff;
    }
    .profile_left {
        float: none;
        display: block;
        width: 100%;
        border-bottom: none;
        margin-bottom: 0px;
    }
    #profile_pic {
        float: right;
        margin: 0px;
        border: 4px solid purple;
        border-radius: 50%;
    }
    #profile_name{
        font-family: 'Seagram', sans-serif;
        font-size: 2em;
        text-align: center;
    }
    .profile_info {
        margin: 0 auto;
        width: 90%;
    }
    .profile {
        border-top: none;
    }
    .profile-name {
        display: none;
    }

    .main_column
    {
        width: 100%;
    }
    .post_profile_pic
    {
        padding-right: 13px;
    }
    .post_profile_img
    {
        width: 50px;
    }
    .result_profile_pic
    {
        width: 28%;

        border: 2px solid purple;
    }
    .message_details,
    .message_column,
    .message_post
    {
    width: 100%;
    margin-bottom: 0px;
}
